table,
table.dataframe,
.dataframe,
.jp-RenderedHTMLCommon table,
.cell_output table,
.jp-OutputArea-output table {
  margin-left: auto !important;
  margin-right: auto !important;
  width: auto !important;
}

.cell_output,
.jp-OutputArea-output,
.jp-RenderedHTMLCommon {
  text-align: center !important;
}

.cell_output table,
.jp-OutputArea-output table,
.jp-RenderedHTMLCommon table {
  display: inline-table !important;
}

body {
  border: 4px solid red;
}